---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign categories_sorted = site.categories | sort %}
  {% for category in categories_sorted %}
    {% assign category_name = category[0] %}
    {% assign category_slug = site.data.category_slugs[category_name] | default: category_name | slugify %}
    <li>
      <a href="{{ site.category_archive.path | append: category_slug | append: '/' | relative_url }}">
        <strong>{{ category_name }}</strong> <span class="taxonomy__count">{{ category[1].size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
